{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
{% block title %}<title>Page Title</title>{% endblock %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>

    {% block content %}
        <header></header>
    {% endblock %}

    <main>
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </main>

    {% block footer %}
        <footer></footer>
    {% endblock %}

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/metisMenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2.js' %}"></script>

</body>
</html>